@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ropa Sans' sans-serif;
}

html, body {
    width: 100vw;
  }

  main {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 44px;
  }
  
  header {
    width: 100%;
    height: 50px;
    padding: 18px 31px 18px 44px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    background-color: black;
  }
  
  header .logo-container {
    display: flex;
    align-items: center;
    max-width: 120px;
    width: 100%;
  }
  
  header .logo-container h3 {
    color: var(--color-7-gray);
    text-transform: uppercase;
    font-size: 30px;
  }
  
  header .logo-container p {
    color: var(--color-light-gray);
    font-size: 10px;
    margin-left: 8px;
  }
  
  header img {
    cursor: pointer;
  }

  .banner {
    width: 100%;
    height: 400px;
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
  }
  
  .banner .arrow-1 {
    background-color: rgba(141, 141, 141, 0.62);
    height: 39px;
    width: 39px;
    border-radius: 50%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .banner img {
    max-width: 10px;
    width: 100%;
    height: 18px;
  }
